/* Defines the outer flexbox used for rendering the cards */
.flex-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Defines the inner flexbox used for rendering the cards */
.flex-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Set the inner flexboxes to have block displays (this makes the cards display 
   vertically on small displays) */
@media screen and (max-width: 800px) {
  .flex-inner {
    display: block;
  }
}

/* Defines the ContentCard class used by the InfoCard and DataCards */
.ContentCard {
  max-width: 375px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* Defines that all links should inherit colors */
a {
  color: inherit;
}

/* The style for a container, in which member items are centered */
.center-container {
  display: flex;
  justify-content: center;
}