.flex-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .flex-inner {
    display: block;
  }
}

.ContentCard {
  max-width: 375px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

a {
  color: inherit;
}