.flex-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .flex-inner {
    display: block;
  }
}